html {
  font-size: 93.75%;
}

/* Variables */
/*----------  Media Query min-width Structure   ----------*/
/*----------  Media Query max-width Structure   ----------*/
/*----------  Break-point min-width Structure   ----------*/
/*----------  Break-point max-width Structure   ----------*/
/*----------  Font Size  ----------*/
/*----------  Line Height  ----------*/
/*----------  Site Basic Structure  ----------*/
/*----------  z-index Structure   ----------*/
/*
 * Button mixin- creates a button effect with correct
 * highlights/shadows, based on a base color.
 */
.edit-post-visual-editor {
  /* must have higher specificity than alternative color schemes inline styles */
}

.edit-post-visual-editor ::selection {
  color: #fff;
  background: royalblue;
}

.edit-post-visual-editor body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.edit-post-visual-editor body:not(.logged-in) {
  position: relative;
}

.edit-post-visual-editor #page {
  position: relative;
}

.edit-post-visual-editor a,
.edit-post-visual-editor a:focus {
  text-decoration: none;
}

.edit-post-visual-editor a,
.edit-post-visual-editor .site-header a *,
.edit-post-visual-editor .site-footer a *,
.edit-post-visual-editor .secondary a * {
  transition: all 0.2s linear;
}

.edit-post-visual-editor .capitalize {
  text-transform: uppercase;
}

.edit-post-visual-editor img {
  vertical-align: middle;
}

.edit-post-visual-editor .entry-content h1,
.edit-post-visual-editor .entry-content h2,
.edit-post-visual-editor .entry-content h3,
.edit-post-visual-editor .entry-content h4,
.edit-post-visual-editor .entry-content h5,
.edit-post-visual-editor .entry-content h6 {
  margin-bottom: 20px;
}

.edit-post-visual-editor p {
  margin-bottom: 1.75em;
}

.edit-post-visual-editor blockquote {
  margin: 1.5em 1em 1.5em 3em;
  font-size: 1.1em;
  line-height: inherit;
  position: relative;
}

.edit-post-visual-editor .ast-button,
.edit-post-visual-editor .button,
.edit-post-visual-editor input[type="button"],
.edit-post-visual-editor input[type="submit"] {
  border-radius: 0;
  padding: 18px 30px;
  border: 0;
  box-shadow: none;
  text-shadow: none;
}

.edit-post-visual-editor .ast-button:hover,
.edit-post-visual-editor .button:hover,
.edit-post-visual-editor input[type="button"]:hover,
.edit-post-visual-editor input[type="submit"]:hover {
  box-shadow: none;
}

.edit-post-visual-editor .ast-button:active, .edit-post-visual-editor .ast-button:focus,
.edit-post-visual-editor .button:active,
.edit-post-visual-editor .button:focus,
.edit-post-visual-editor input[type="button"]:active,
.edit-post-visual-editor input[type="button"]:focus,
.edit-post-visual-editor input[type="submit"]:active,
.edit-post-visual-editor input[type="submit"]:focus {
  box-shadow: none;
}

.edit-post-visual-editor .site-title {
  font-weight: normal;
}

.edit-post-visual-editor .site-title,
.edit-post-visual-editor .site-description {
  margin-bottom: 0;
}

.edit-post-visual-editor .site-title a,
.edit-post-visual-editor .site-title:hover a,
.edit-post-visual-editor .site-title:focus a,
.edit-post-visual-editor .site-description a,
.edit-post-visual-editor .site-description:hover a,
.edit-post-visual-editor .site-description:focus a {
  transition: all 0.2s linear;
}

.edit-post-visual-editor .site-title a,
.edit-post-visual-editor .site-title a:focus,
.edit-post-visual-editor .site-title a:hover,
.edit-post-visual-editor .site-title a:visited {
  color: #222;
}

.edit-post-visual-editor .site-description a,
.edit-post-visual-editor .site-description a:focus,
.edit-post-visual-editor .site-description a:hover,
.edit-post-visual-editor .site-description a:visited {
  color: #999;
}

.edit-post-visual-editor .search-form .search-field {
  outline: none;
}

.edit-post-visual-editor .ast-search-menu-icon {
  position: relative;
  z-index: 3;
}

.edit-post-visual-editor .site .skip-link {
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #21759b;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: -9999em;
  outline: none;
  padding: 15px 23px 14px;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
}

.edit-post-visual-editor .site .skip-link:focus {
  clip: auto;
  height: auto;
  left: 6px;
  top: 7px;
  width: auto;
  z-index: 100000;
  outline: thin dotted;
}

.logged-in .edit-post-visual-editor .site .skip-link {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
}

/**
 * Editor core layout supportive CSS.
 */
.edit-post-visual-editor__post-title-wrapper {
  position: relative;
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.edit-post-visual-editor__post-title-wrapper.invisible {
  opacity: 0.5;
}

.edit-post-visual-editor__post-title-wrapper .title-visibility {
  cursor: pointer;
  font-size: 18px;
  width: 26px;
  height: 22px;
  background: #3582c4;
  text-align: center;
  color: #fafafa;
  position: absolute;
  right: 0;
  top: 0;
}

.edit-post-visual-editor__post-title-wrapper > .wp-block-post-title {
  max-width: 100% !important;
}

.editor-post-title__input {
  outline: 1px solid var(--wp-admin-theme-color) !important;
  padding: 10px;
}

.editor-styles-wrapper.block-editor-writing-flow {
  padding-bottom: 0 !important;
}

.editor-styles-wrapper [CLASS*="wp-container"] > * {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * ast-separate-container layout compatibility.
 */
.ast-separate-container .edit-post-visual-editor {
  padding: 20px;
}

.ast-separate-container .editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper > [data-align="full"],
.ast-separate-container .editor-styles-wrapper .block-editor-block-list__layout.is-root-container > [data-align="full"] {
  margin-left: -20px !important;
  margin-right: -20px !important;
}

/**
 * Page builder triggers support.
 */
#elementor-editor-button {
  background: #0073aa;
  border-color: #0073aa;
  color: #fff;
  font-size: 14px;
  height: 46px;
  line-height: 44px;
  padding: 0 36px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
  box-shadow: 0 2px 0 #006799;
}

#elementor-editor-button:hover, #elementor-editor-button:focus {
  background: #007db9;
  border-color: #00699b;
  color: #fff;
}

#elementor-editor-button:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #0073aa;
}

#elementor-editor-button:active {
  background: #006291;
  border-color: #006291;
  color: #fff;
}

#elementor-editor-button.active, #elementor-editor-button.active:focus, #elementor-editor-button.active:hover {
  background: #0073aa;
  color: #fff;
  border-color: #003f5e;
  box-shadow: inset 0 2px 5px -3px black;
}

#elementor-editor-button i {
  font-style: normal;
  color: white;
}

.editor-media-placeholder button,
.fl-builder-layout-launch-view button {
  margin: 2px;
}

.fl-builder-layout-launch-view .is-primary.is-primary {
  color: white;
}

/**
 * Modern Gutenberg editor improved UI/UX.
 */
.wp-block-separator:not(.is-style-wide) {
  width: 100px;
  margin: 0 auto;
}

.wp-block-group, .wp-block-cover, .wp-block-columns.has-background {
  padding-top: 4em;
  padding-bottom: 4em;
  margin-top: 28px;
  margin-bottom: 28px;
}

.wp-block-group.has-background, .wp-block-columns.has-background {
  padding-left: 4em;
  padding-right: 4em;
}

.wp-block-search {
  margin-bottom: 20px;
}

.wp-block-file__content-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wp-block[data-align="wide"] > .wp-block-group,
.wp-block[data-align="wide"] > .wp-block-cover,
.wp-block[data-align="wide"] > .wp-block-columns,
.wp-block[data-align="full"] > .wp-block-group,
.wp-block[data-align="full"] > .wp-block-cover,
.wp-block[data-align="full"] > .wp-block-columns {
  padding: 6em 4em;
}

blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.05);
  padding: 0 1.2em 1.2em;
  font-style: italic;
}

.wp-block-pullquote blockquote:before {
  content: "\201D";
  font-family: "Helvetica",sans-serif;
  display: flex;
  transform: rotate(180deg);
  font-size: 6rem;
  font-style: normal;
  line-height: 1;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.wp-block-spacer .components-resizable-box__container {
  background: #f5f5f5;
}

.edit-post-visual-editor .editor-styles-wrapper h1,
.edit-post-visual-editor .editor-styles-wrapper h2,
.edit-post-visual-editor .editor-styles-wrapper h3,
.edit-post-visual-editor .editor-styles-wrapper h4,
.edit-post-visual-editor .editor-styles-wrapper h5,
.edit-post-visual-editor .editor-styles-wrapper h6 {
  margin-bottom: 20px;
}

.wp-block-gallery.has-nested-images figure.wp-block-image img {
  width: 100%;
}

.components-resizable-box__container.block-library-spacer__resize-container:before {
  content: attr(data-spaceheight);
  font-size: 18px;
  font-weight: 500;
  color: #858585;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.block-editor-block-list__layout .block-editor-block-list__block:hover {
  box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
}

.block-editor-block-list__layout .wp-block.block-editor-block-list__block:not([contenteditable]):focus {
  box-shadow: none;
}

.edit-post-visual-editor .components-button {
  color: #1e1e1e;
}

.edit-post-visual-editor .components-button.is-pressed {
  color: #ffffff;
}

.editor-styles-wrapper p {
  line-height: 1.85714285714286;
}

.ast-theme-block-color-name {
  mix-blend-mode: difference;
}

.wp-block-quote.is-style-large cite {
  text-align: left;
}

.components-color-palette__custom-color {
  text-align: left;
  padding-left: 5px;
}

/**
 * Woocommerce Gutenberg Blocks Product Grid CSS Compatibility.
 */
.wc-block-grid .wc-block-grid__products .wc-block-grid__product {
  text-align: left;
  margin-bottom: 2.5em;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product.product-category > a {
  display: inline-block;
  position: relative;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product a img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 .8em 0;
  box-shadow: none;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title {
  margin-bottom: .5em;
  padding: 0;
  font-size: 1em;
  line-height: 1.2;
  font-weight: inherit;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .star-rating {
  margin: 0 auto .5em 0;
  backface-visibility: hidden;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .woocommerce-loop-product__link {
  position: relative;
  display: block;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .woocommerce-loop-product__link:hover .ast-shop-product-out-of-stock {
  background-color: white;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product.product-category > a:hover .woocommerce-loop-category__title {
  background-color: white;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .woocommerce-loop-category__title {
  bottom: 1.8em;
  font-size: 0.9em;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .woocommerce-loop-category__title .count {
  font-size: .7em;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .price {
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: .5em;
  font-size: .9em;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .price del {
  display: initial;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wp-block-button__link {
  margin-top: .5em;
  margin-bottom: .5em;
  white-space: normal;
  line-height: 1.3;
  font-size: 100%;
  font-weight: 700;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.added {
  margin-bottom: 0;
  transition: margin 0s;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .woocommerce-loop-category__title {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .woocommerce-loop-category__title .count {
  display: block;
  background: none;
  opacity: .5;
  font-size: .75em;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-onsale {
  min-width: 3em;
  min-height: 3em;
  line-height: 3em;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  text-transform: capitalize;
  position: absolute;
  text-align: center;
  border-radius: 100%;
  z-index: 9;
  top: 0;
  right: 15px;
  left: auto;
  margin: -0.5em -0.5em 0 0;
}
